<template>
    <ul class="lg:flex gap-8">
        <li v-for="category in categories" :key="category">
            <NuxtLink 
            class="block font-bold py-2 uppercase focus:text-cyan-600 hover:text-cyan-600"
            :to="`/category/${category}`">
                {{ category }}
            </NuxtLink>
        </li>
        <li>
            <NuxtLink 
            class="hidden lg:block font-bold py-2 uppercase focus:text-cyan-600 hover:text-cyan-600"
            to="/cart">
                cart
            </NuxtLink>
        </li>
    </ul>
</template>
<script setup>
const { categories } = defineProps(['categories']);

</script>