<template>
    <div class="h-96 grid relative mt-4 w-full place-items-center">
        <NuxtImg class="w-full" src="/img/hero.jpg" alt="hero" />
        <div class="bg-white/50 absolute p-10 z-index-10 md:mt-40 md:p-12">
            <h2 class="font-bold text-4xl md:text-8xl">Nuxt Store</h2>
            <p class="text-lg md:text-2xl">your one place to shop</p>
        </div>
    </div>
</template>