<template>
    <nav class="w-full p-4" v-if="categories">
      <div class="flex items-center justify-between">

        <NuxtLink class="font-bold text-4xl hover:text-cyan-600" to="/">
            <h1>nuxt store</h1>
        </NuxtLink>

        <div class="flex gap-3 justify-end">
          <CartIcon />
          
          <button class="h-14 w-14 text-4xl lg:hidden" @click="openMenu" aria-label="toggle menu">
            &#9776;
          </button>
        </div>

        <div class="hidden lg:block">
          <Categories :categories="categories" />
        </div>
  
        <transition
          enter-class="opacity-0"
          enter-active-class="ease-out transition-medium"
          enter-to-class="opacity-100"
          leave-class="opacity-100"
          leave-active-class="ease-out transition-medium"
          leave-to-class="opacity-0"
        >
          <div v-show="isOpen" class="z-10 fixed inset-0 transition-opacity">
              <div @click="isOpen = false" class="absolute inset-0 bg-black opacity-50" tabindex="0"></div>
          </div>
        </transition>
  
        <div class="p-8 transform top-0 right-0 w-64 bg-white fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30" 
        :class="isOpen ? 'translate-x-0' : 'translate-x-full'">
            
            <button class="text-4xl absolute top-4 right-4" ref="closeBtn" type="button" 
            @click="closeMenu" aria-label="close">
                  &times;
            </button>
        
            <div class="mt-8">
                <Categories :categories="categories" />
            </div> 
          </div>

      </div>
    </nav>
  </template>
  
<script setup>
import {onMounted, watch } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();

const isOpen = ref(false);
const closeBtn = ref(null);

const url = "https://fakestoreapi.com/products/categories";

const { data: categories } = await useFetch(url);

const openMenu = () => {
  isOpen.value = !isOpen.value;
}

const closeMenu = (e) => {
  isOpen.value = !isOpen.value;  
}

onMounted(() => {
  closeBtn.value.focus();
});

watch(
  () => route.params.slug,
  (newSlug, oldSlug) => {
    if (route.params.slug !== oldSlug) {
      isOpen.value = false;
    }
  }
)
</script>