<template>
    <figure v-if="product" class="mx-auto my-4 max-w-4xl md:grid grid-cols-2 gap-8">
        <NuxtImg  class="h-60  w-80 object-contain object-center mx-auto" :src="product.image" :alt="product.title" />
        <figcaption class="px-4 mx-auto max-w-sm">
            <p class="mb-8">{{ product.description }}</p>
            <div class="flex items-center justify-between">
                <p class="font-bold">{{ formatCurrency(product.price) }}</p>
                <button
                class="bg-cyan-500 p-2 transition-colors text-white focus:bg-cyan-600 hover:bg-cyan-600"
                @click="store.addItemToCart(product)"
                >add to cart</button>
            </div>
        </figcaption>
    </figure>
</template>

<script setup>
import { useCartStore } from '~/store/cart';
const { params } = useRoute();
const url = `https://fakestoreapi.com/products/${params.slug}`;
const { data: product } = await useFetch(url);
const store = useCartStore();
</script>
