<template>
    <div class="mx-auto max-w-2xl px-4 lg:max-w-7xl">
        <ul class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <li v-for="product in products" :key="product.id" class="border-2 border-cyan-100 border-solid relative group">
                <NuxtLink :to="`/product/${product.id}`" class="p-4 block">
                    <div class="mx-auto mb-6 overflow-hidden">
                        <NuxtImg class="block h-40 mx-auto w-40 object-contain" :src="product.image" :alt="product.title" />
                    </div>
                    <div class="md:flex justify-between">
                        <h2 class="text-lg">{{ product.title }}</h2>
                        <p class="font-bold">{{ formatCurrency(product.price) }}</p>
                    </div>
                </NuxtLink>
            </li>
        </ul>
    </div>
</template>

<script setup>
const {params} = useRoute();
const url = `https://fakestoreapi.com/products/category/${params.slug}`;
const { data: products } = await useFetch(url);
</script>
