<template>
    <div class="mx-auto px-4">
        <header class="mb-8">
            <h2 class="font-bold mb-8 text-4xl">cart</h2>
            <p v-if="itemsInCart.length === 0">you got 0 items in your cart</p>
            <p v-else>you got {{ itemsInCart.length }} {{ itemsInCart.length > 1 ? 'items' : 'item' }} in your cart</p>
        </header>
        <div v-if="itemsInCart.length > 0">
            <table class="table-auto border-separate border-spacing-4 text-left">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>title</th>
                        <th>price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in itemsInCart" :key="item">
                        <td >
                            <NuxtImg class="w-20" :src="item.image" :alt="item.title" />
                        </td>
                        <td>{{ item.title }}</td>
                        <td>{{ formatCurrency(item.price)}}</td>
                    </tr>
                    <tr>
                        <td class="font-bold">total</td>
                        <td></td>
                        <td>{{ calculateTotal() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script setup>
import { formatCurrency } from '#imports';
import { useCartStore } from '~/store/cart';

const { itemsInCart } = useCartStore();

const calculateTotal = () => {
    const sum = [];
    itemsInCart.map(item => {
        sum.push(item.price);
    });

    const total = sum.reduce((acc, value) => acc + value, 0);
    return formatCurrency(total);
}
</script>